.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #464646;
  position: fixed;
  top: 0;
  padding: 0 20px;
  font-family: Verdana;
  z-index: 10;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  .left-items {
    font-size: 20px;
  }
  .right-items {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  a {
    color: white;
    // background-color: #464646;
    height: 50px;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  .active {
    color: rgb(248, 213, 148);
  }
  a:hover:not(.active) {
    color: rgb(248, 213, 148);
    background-color: darken($color: #464646, $amount: 10%);
  }
}
