$navBarColor: #464646;

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: $navBarColor;
  position: fixed;
  top: 0;
  padding: 0 20px;
  font-family: Verdana;
  z-index: 10;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  .left-items {
    font-size: 1.2rem;
    white-space: nowrap;
  }
  .right-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  .bgm-audit {
    display: none;
  }
  .bgm-switch {
    display: flex;
    cursor: pointer;
    .voice-icon {
      margin-right: 5px;
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        filter: invert(1);
      }
    }
    .bgm-btn {
      position: relative;
      width: 40px;
      height: 20px;
      border-radius: 20px;
      background-color: #888;
      display: flex;
      align-items: center;
      margin-right: 20px;
      transition: 0.3s;
      .switch {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: white;
        transition: 0.3s;
        right: 22px;
      }
      &.open {
        .switch {
          background-color: #90caf9;
          right: 3.5px;
        }
      }
      &:hover {
        background-color: #999;
      }
    }
  }
  .locale-selector {
    display: flex;
    align-items: center;
    .earth-icon {
      width: 20px;
      height: 20px;
      filter: invert(1);
    }
    select {
      background-color: $navBarColor;
      color: white;
      border: 0;
      font-size: 14px;
      padding: 5px;
      cursor: pointer;
      position: relative;
      &:focus-visible {
        outline: 0;
      }
      &:hover {
        background-color: lighten($navBarColor, 10%);
        border-radius: 5px;
      }
    }
  }
  .github-icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    filter: invert(1);
    cursor: pointer;
    &:hover {
      filter: invert(0.9);
    }
  }
  a {
    color: white;
    height: 50px;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  .active {
    color: rgb(248, 213, 148);
  }
  a:hover:not(.active) {
    color: rgb(248, 213, 148);
    background-color: darken($navBarColor, 10%);
  }
}
