.save-my-poke-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 90%;
  top: -20px;
  opacity: 0.6;
  cursor: pointer;
  &.active {
    opacity: 1;
  }
  &:hover:not(.active) {
    filter: invert(1);
  }
}
